<head>

 <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
  crossorigin="anonymous" 
  referrerpolicy="no-referrer" />

  <style>


a.nav-link.home {
  color: white !important;
  border-radius: 2vh;
  transition: all 0.25s ease-in-out;
  padding: 6px 12px; /* Reduce vertical & horizontal padding */
  line-height: 1.2;   /* Tighter line height */
  display: inline-block; /* Makes transform and padding work better */
  margin-right: 15px;
}

a.nav-link.home:hover {
  color: black !important;
  background-color: white;
  transform: scale(1.1);
}

a.nav-link.temp {
  margin-top: 0.6vh;
  color: white !important;
  border-radius: 2vh;
  transition: all 0.25s ease-in-out;
  padding: 6px 12px; /* Reduce vertical & horizontal padding */
  line-height: 1.2;   /* Tighter line height */
  display: inline-block; /* Makes transform and padding work better */
  margin-right: 15px;
  margin-top: 0.3vh;


}

a.nav-link.temp:hover {
  color: black !important;
  background-color: white;
  transform: scale(1.1);
  margin-top: 0.5vh;
}

a.nav-link.flag {
  margin-top: 0.6vh;
  color: rgb(255, 243, 7) !important;
  border-radius: 2vh;
  transition: all 0.25s ease-in-out;
  padding: 6px 12px; /* Reduce vertical & horizontal padding */
  line-height: 1.2;   /* Tighter line height */
  display: inline-block; /* Makes transform and padding work better */
  margin-right: 15px;
  margin-top: 0.5vh;


}

a.nav-link.flag:hover {
  color: rgb(0, 0, 0) !important;
  background-color: white;
  transform: scale(1.1);
}

.name{
  

}
@media (max-width:700px){
  .name{

    border:none

  }
}
@media (min-width:700px){
  .name{
    border: none;
     font-size: 3vh;
  }
}




  </style>
</head>


<body >
    <nav class="navbar navbar-expand-lg bg-dark-subtle"  data-bs-theme="dark">
        <div class="container-fluid">
          <h6 class="navbar-brand" href="#">Blogify</h6>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            
              <% if (locals.newuser && locals.checkCookie) { %>

                <li class="nav-item">
                  <a class="nav-link active temp " style="color: yellow; cursor: pointer;" aria-current="page" href="/" >Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active flag" style="color: yellow; cursor: pointer;" aria-current="page" href="/user/myblog" >MyBlog</a>
                </li>

                <% if (locals.exist) { %>
                 
                <% } else{%>
                <li class="nav-item">
                  <a class="nav-link active flag" style="color: yellow; cursor: pointer;" aria-current="page" href="/user/addblog">Add Blog</a>
                </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link active flag" style="color: yellow; cursor: pointer;" aria-current="page" href="/user/AI">New Gen AI ✨</i></a>
                </li>

                <% if (locals.ID && locals.temp) { %>

                  <% if ( JSON.stringify(ID) == JSON.stringify(newuser._id)) { %>

                    

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: rgb(21, 19, 19); border: none; padding-top: 1.5vh;">
                         <span class="icon"><a href="/user/addblog"><i class="fa-solid fa-ellipsis-vertical" style="color:white"></i></a></span>
                      </button>
                      <ul class="dropdown-menu">
                      <a href="/user/addblog" style="text-decoration: none; cursor: pointer; "><li><button class="dropdown-item" type="button">Add Blog</button></li></a>
                      <a href="<%= `/user/addblog/update/${blog._id}` %>" style="text-decoration: none; cursor: pointer;"><li><button class="dropdown-item" type="button">Update</button></li></a>
                      <a href="<%= `/user/addblog/delete/${blog._id}` %>" style="text-decoration: none; cursor: pointer;"> <li><button class="dropdown-item" type="button">Delete</button></li></a>
                      </ul>
                    </div>

                   
                  <% } %>
                 
                <% } else {%>
                

                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <%= newuser.name %>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="<%= `/user/profileImageUpdate/${newuser._id}` %>">profileimage</a></li>
                  </ul>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user/logout" style="">Log out</a></li>
                  </ul>
                </li>  -->

                <div class="dropdown ">
                  <button class="btn btn-secondary dropdown-toggle bg-dark-subtle name"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= newuser.name %>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="<%= `/user/profileImageUpdate/${newuser._id}` %>">Edit Profile</a></li>
                    <li><a class="dropdown-item" href="/user/Logout">Log out</a></li>
                  </ul>
                </div>

                      
                 <% } %>
                            
        
              <% } else { %>

                  <% if (locals.checkCookie) { %>
                    <li class="nav-item">
                      <a class="nav-link active flag" style="color: yellow; cursor: pointer;" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active flag" style="color: yellow; cursor: pointer;" aria-current="page" href="/user/myblog" >MyBlog</a>
                    </li>
                   
                  <% } else{%> 

                  <li class="nav-item">
                    <a class="home  nav-link active " aria-current="page" href="/" style="cursor: pointer; " >Home</a>
                  </li>
                  <% } %>



                <% if (!locals.checkCookie) { %>
                 
                <li class="nav-item">
                  <a class="nav-link active home " aria-current="page" href="/user/signup" style="cursor: pointer;">Create Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active home" aria-current="page" href="/user/Signin" style="cursor: pointer;">Signin</a>
                </li>
                <% } %>
                       
              <% } %>

          
          
            </ul>
          </div>
        </div>
      </nav>
</body>