<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head.ejs') %>

    <style>
    @media (max-width :700px){

        .inputfield{

            width: 42vh; 
            font-weight:500;
            font-size: 2.5vh; 
            margin-left: 2vh;
            margin-right: 0v;
         
          
           

        }
        .text{
            width: 44vh;
            /* border:2px solid gray; */
            margin-left: -1vh;
          
            
            
        }
        .text-heading{

            /* border:2px solid gray; */
            font-size: 3vh;
            justify-self: center;
            margin-top: 3vh;


        }
        .show{
            width: 45vh;
            height: 50vh;
            /* border: 2px solid gray; */


        }
        .pad{

            /* border: 2px solid gray; */

        }
        .sub{
            /* border: 2px solid gray; */
            justify-self: end;
            font-size: 3vh;
            padding-right: 5vh;
            padding-top: 2vh;
        
        }
        .button{
            display: none;
        }
        .but{
            font-size: 4vh;
        }
        .laptop{
            display: none;
        }
    }
    @media (min-width :700px){

        .inputfield{

            width: 150vh; 
            font-weight:500;
            font-size: 3vh; 
            

        }
        .text{

            width: 185vh;
            margin-left: -6vh;
            border: none;
            font-weight: 500;

        }
        .text-heading{

            justify-self: center;


        }
        .show{
            width: 200vh;
            height: 50vh;
           

        }
        .box{
            width: 50vh;
            height: 20vh;
            width: 210vh;
             display:flex;
             align-items: center;
        }
        .pad{
            padding-left: 30vh;
        }

        .but{
            display: none;
        }
        .button{
            font-size: 5vh;
        }
        .mobile{
            display: none;
        }
   
    }
    </style>
</head>

<body style="background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);">
    <%- include('./partials/nav.ejs') %>

    <div >

        <div class="container mt-3 show">

            <% if (locals.data) { %>

                <div class="form-floating">

                    <textarea class="form-control text laptop" id="floatingTextarea" style=" height: 50vh; background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);" name="prompt"><%= locals.data %></textarea>
                    <textarea class="form-control text mobile" id="floatingTextarea" style="   height: 50vh; background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);" name="prompt"><%= locals.data %></textarea>
                    
                </div>
                
             
            <% } %>

        </div>

        <div >
        <h2  class="text-heading">Batao buddy How can I help you? </h2>
        </div>

        <form action="/user/AI" method="post" >

            <div  class="box">

                <div class="form-floating pad">

                    <textarea class="form-control inputfield" id="floatingTextarea" name="prompt" ></textarea>
                    
                </div>
                <div class="sub">
            
                <button type="submit" style=" border: none; background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa)" class="button">➡️</button>
                <button type="submit" style=" border: none; background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa)" class="but">♂️</button>
                
                </div>
            </div>

        </form>
    
    </div>



  
    
     <%- include('./partials/script.ejs') %>
</body>
</html>