<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add blog</title>
    <%- include('./partials/head.ejs') %>
</head>
<body style="background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);" >
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-4">

        <% if (locals.error) { %>

          <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
         
        <% } %>

        <form action="/user/profileImageUpdate/<%= profile_user?._id %>" method="post" enctype="multipart/form-data">


            <img src="<%= profile_user.profileImage %>" alt="profileimage" style="width:20vh; border-radius:50%; display: flex; justify-self: center;">
           <div class="mb-3">
            <label for="formFile" class="form-label" style="font-weight: 500;">Upload the cover image</label>
            <input class="form-control" type="file" id="formFile" name="image">
          </div> 
            <button type="submit" class="btn btn-outline-success">Submit</button>
          </div>
        </form>
        
    </div>
     <%- include('./partials/script.ejs') %>
</body>
</html>