<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_blog</title>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        
       
        @media (max-width:600px) {

            .checkicon{

                margin-left:-28.5vh;
                margin-top: 5vh;
                width: 6vh;
        
            }
            .div1{
            justify-self: center;
            font-family: Segoe UI;
            font-size: 4vh;
            font-weight: 700;
            /* text-shadow:  -2px -2px 0 rgb(12, 9, 11), 4px -1px 0 rgb(13, 17, 17), -2px 2px 0 rgb(20, 29, 29), 2px 2px 0 rgb(1, 4, 4); */
            color: aliceblue;
            /* text-shadow: -2px -2px 0 rgba(0,0,0,0.7), 2px -2px 0 rgba(0,0,0,0.6), -2px 2px 0 rgba(0,0,0,0.5), 2px 2px 0 rgba(0,0,0,0.6); */
            text-align: center;
            text-shadow: -2px -2px 0 rgb(10, 10, 10), 2px -2px 0 rgb(15, 15, 15), -2px 2px 0 rgb(20, 20, 20), 2px 2px 0 rgb(25, 25, 25);
             
             /* text-shadow: -2px -2px 0 rgb(0, 255, 255), 2px -2px 0 rgb(0, 200, 200), -2px 2px 0 rgb(0, 150, 150), 2px 2px 0 rgb(0, 100, 100); */
            /* margin-left: 5vh; */
            
        }
        .img{
            justify-self: center;
        }
        .IMG{
            border-radius: 2vh;
            box-shadow: 2px 0px 10px 3px rgb(145, 139, 139);
            max-width: 100%;
            max-height: 70vh;
            /* border: 2px solid #ddd; */
            object-fit:contain;
            image-rendering: auto; 
        }
        .body{
                justify-self: center;
                font-weight: 700;
                font-size: 2.3vh;
                font-family: Segoe UI;
                text-align: left;
                align-items: center;
                text-wrap:inherit;
                gap: 3vh;
                flex-direction: row;
                word-wrap: break-word;
                margin: 0%;
                 padding: 1vh 2vh;
                display: flex;
                justify-content: center;
        }
        .a{
            justify-self: center;
        }
        .aa{
            text-decoration: none;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .pic{
            width: 3rem;
            
        }
        .box{
            display: flex;
            width: 20vh;
            justify-content:space-between;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        .con{
            margin-bottom: 12vh;
            margin-left:0vh;
        }
        .profileimage{
           
            /* border: 2px solid rgb(207, 202, 202);  */
            border-radius: 100%; 
            box-shadow: 2px 2px 5px 3px gray;
            object-fit:cover;
           

        }
   
            
        }
        @media (min-width:601px) {

            .checkicon{

                margin-left:-40vh;
                margin-top: 10vh;
                width: 7vh;
        
            }
            .div1{
            justify-self: center;
            font-family: Segoe UI;
            font-size: 14.5vh;
            font-weight: 700;
            text-shadow:  -2px -2px 0 aqua, 4px -1px 0 aqua, -2px 2px 0 aqua, 2px 2px 0 aqua;
            color: aliceblue;
            text-align: center;
            /* margin-left: 5vh; */
            
        }
        .img{
            justify-self: center;
        }
        .IMG{
            border-radius: 2vh;
            box-shadow: 2px 0px 10px 3px rgb(145, 139, 139);
            max-width: 100%;
            max-height: 70vh;
            /* border: 2px solid #ddd; */
            object-fit:contain;
            image-rendering: auto; 
        }
            .body{
                justify-self: center;
                font-weight: 700;
                font-size: 2rem;
                font-family: Segoe UI;
                text-align: left;
                align-items: center;
                text-wrap:inherit;
                gap: 3vh;
                flex-direction: row;
                line-height: 1.5;
                word-wrap: break-word;
                margin: 0%;
                padding: 1px;
                margin-left: -10vh;
            }
        .a{
            justify-self: center;
        }
        .aa{
            text-decoration: none;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .pic{
            width: 3rem;
            
        }
        .box{
            display: flex;
            width: 20vh;
            justify-content:space-between;
            margin-bottom: 2vh;
            margin-top: 2vh;
        }
        .con{
            margin-bottom: 12vh;
            margin-left:0vh;
        }
        .profileimage{
           
            /* border: 2px solid rgb(207, 202, 202);  */
            border-radius: 100%; 
            box-shadow: 2px 2px 5px 3px gray;
            object-fit:cover;
           

        }
        .pencil{
            cursor: pointer;
            text-decoration: none;
        }

        }

    </style>
</head>
<body style="background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);">
    <!-- Navbar -->
    <%- include('./partials/nav.ejs') %>

      <div class="container mt-4">
        <div class="img">
            <img src="<%= blog.coverImg %>" class="IMG " alt="image" loading="lazy">
        </div>
        <div class="div1">

            <%= blog.title %>

        </div>
        <div class="body">
           <p><%= blog.body %></p>
        </div>
  
        <div class="container mt-4" style="display: flex; gap: 3vh; align-items: center;">
            <img src="<%= user.profileImage%>" class="profileimage" width="100vh" loading="lazy">
            <h4><%= user.name%></h4>
            <% if (locals.newuser && locals.checkCookie) { %>

                 
                    <% if (newuser._id == ID) { %>

                    <a href="<%= `/user/profileImageUpdate/${newuser._id}` %>"  class="pencil" ><img src="/images/updateimg.png" alt="profileuploadedimage" class="checkicon" loading="lazy"></a>
                   
<!--                  
                        <form action="/user/likepost/<%= _id %>" method="post" id="<%= _id %>"></form>
                        <span id="like" onclick="toggle()"><i class="fa-regular fa-heart" style="color: #100f0f"></i></span>
                        <input type="checkbox" id="check" style="display:none">
                        <span><%= count %></span> -->
                    <% } %>
             
            <% } %>
        </div>





        <div class="container mt-4">
            <h1>Comment 
           <% if (locals.lis && locals.comments) { %>

            <% let count = 0; %> 

           <% lis.forEach((li_child) => { %>  

                <% if ( JSON.stringify( li_child.blogid) == JSON.stringify(blogId)) { %> 
                    <% count++; %>  
                <% } %> 

           <% }); %>

           (<%= count %>)   

           <% } %>  
        

            </h1>
            
            
            <br>
            
            <% if (locals.user && locals.checkCookie) { %>

                <form action="/blog/comment/<%= blog._id %>" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" id="name" aria-describedby="name" name="content" placeholder="Enter your comment">
                </div>
                <button type="submit" class="btn btn-sm btn-primary">Add</button><br><br>   
                </form>

            <% } %>

            <div class="con">
           
             <% if (locals.comments) { %>
 

                <% lis.forEach((li_child) => { %>

                    <!-- print only that comment which is related on the blog -->
                    <% if ( JSON.stringify( li_child.blogid) == JSON.stringify(blogId)) { %>
                         
                    

                <div class="box" style="display:flex ; gap: 3vh;">


                    <!-- print the name and image of person which is created by the comment -->

                    <% lis_user.forEach((li) => { %>

                 

                    <% if (JSON.stringify( li_child.createdBy) == JSON.stringify(li._id)) { %>
                               
                        <img src="<%= li.profileImage %>" alt="" class="pic" style="border-radius:50%; box-shadow: 1px 1px 3px 2px rgb(165, 162, 162);" loading="lazy" >
                        <h6> <%= li.name%></h6>  

                    <% } %>

                     
                    <% }) %>

                      
                </div>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">=></span>
                    <input disabled  value="<%= li_child.content %>" class="form-control"  aria-label="Username" aria-describedby="addon-wrapping">
                </div>

                        

                    <% } %>
                     
                <% }) %>

             <% } %>


            </div>
           
        </div>

    </div> 

    <script>

        function toggle(){

            const like = document.getElementById('like');
            const check = document.getElementById('check');
          

            check.checked = !check.checked;

            if(check.checked){

                //   like.textContent = '❤️';

                like.innerHTML = '<i class="fa-solid fa-heart" style="color: #eb1405;"></i>';

                document.getElementById(`${_id}`).submit();

           

            }
            else{

      

                like.innerHTML = '<i class="fa-regular fa-heart" style="color: #100f0f;"></i>';

            }

            

            console.log(like.innerHTML);
            console.log(check.checked);
            console.log(count.value);
            
            
            

        }

    </script>

    <%- include('./partials/script.ejs') %>
</body>
</html>